streamlit
pandas
pyarrow
beautifulsoup4
lxml
tldextract
playwright
langchain==0.2.13
langchain-ollama==0.1.1
langchain-core==0.2.43
langchain-text-splitters==0.2.4
pypdf
python-docx
uvicorn
fastapi==0.118.0
pydantic
httpx
setuptools==78.1.1
pip==25.3
starlette==0.48.0
virtualenv==20.26.6
